Android/ourHouse/local.properties
Android/ourHouse/app/build
local.properties
build/
.gradle/
.idea/workspace.xml
.idea/libraries
.DS_Store
.idea/tasks.xml
.idea/caches
Android/ourHouse/.idea/workspace.xml
.idea/
Android/ourHouse/local.properties
Android/ourHouse/local.properties
Android/ourHouse/.idea/caches/build_file_checksums.ser
