<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uniques.ourhouse">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name = "android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="adjustResize">

        <activity android:name=".fragment.SignUpFragment" />
        <activity android:name=".fragment.LoginFragment" />
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".LS_Main">
            <intent-filter>
                <!-- Sets the intent action to view the activity -->
                <action android:name = "android.intent.action.VIEW" />
                <!-- Allows the link to be opened from a web browser -->
                <category android:name = "android.intent.category.BROWSABLE" />
                <!-- Allows the deep link to be used without specifying the app name -->
                <category android:name = "android.intent.category.DEFAULT" />
                <!-- URI example://deeplink -->
                <data android:scheme = "https" android:host = "www.ourhouse.com/joinhouse"/>
            </intent-filter>
            <intent-filter>
                <!-- Sets the intent action to view the activity -->
                <action android:name = "android.intent.action.VIEW" />
                <!-- Allows the link to be opened from a web browser -->
                <category android:name = "android.intent.category.BROWSABLE" />
                <!-- Allows the deep link to be used without specifying the app name -->
                <category android:name = "android.intent.category.DEFAULT" />
                <!-- URI http://www.mydeeplink.com/semester -->
                <data android:scheme = "http" android:host = "www.ourhouse.com" android:pathPrefix = "/joinhouse" />
            </intent-filter>
            <intent-filter>
                <!-- Sets the intent action to view the activity -->
                <action android:name = "android.intent.action.VIEW" />
                <!-- Allows the link to be opened from a web browser -->
                <category android:name = "android.intent.category.BROWSABLE" />
                <!-- Allows the deep link to be used without specifying the app name -->
                <category android:name = "android.intent.category.DEFAULT" />
                <!-- URI http://www.mydeeplink.com/semester -->
                <data android:scheme = "http" android:host = "www.ourhouse.com"/>
            </intent-filter>
            <intent-filter>
                <!-- Sets the intent action to view the activity -->
                <action android:name = "android.intent.action.VIEW" />
                <!-- Allows the link to be opened from a web browser -->
                <category android:name = "android.intent.category.BROWSABLE" />
                <!-- Allows the deep link to be used without specifying the app name -->
                <category android:name = "android.intent.category.DEFAULT" />
                <!-- URI http://www.mydeeplink.com/semester -->
                <data android:scheme = "app" android:host = "www.ourhouse.com"/>
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />

        <service
            android:name=".EventService"
            android:enabled="true"
            android:exported="true"
            android:label="Event Service"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver android:name=".BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>